<%# login and account creation form %>
<% include partials/header.ejs %>

<h1>Login</h1>
<form method="post" action="acc-settings">
  <p>
    <label>Username:</label>
    <input type="text" name="username" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password" required>
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
<form method='post' action="createacc">
  <p>
    <input type='submit' value='Create Account'>
  </p>
</form>
