<%# login and account creation form %>
<% include partials/header.ejs %>

<h1>Login</h1>
<form method="post" action="acc-settings">
  <p>
    <label>Username:</label>
    <input type="text" name="uid" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password" required>
  </p>
  <p>
    <input type="submit" value="login">
  </p>
</form>
<a href="/getacccreate" class="btn btn-sm btn-primary">Create Account</a>
